.Register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(
        rgba(0,0,0, 0.5),
        rgba(0,0,0, 0.5)
    ), url('../../assets/registerBg.jpg');
    /* opacity: 0.85; */
    background-size: cover;
    background-position: center;
}

.RegisterTitle{
    font-size: 50px;
    color: black
}

.RegisterForm{
    margin-top:20px;
    display: flex;
    flex-direction: column;
}

.RegisterForm>label{
    margin: 10px 0;   
    color: white;
}

.RegisterInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.RegisterButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.loginRegister{
    margin-top: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}